<div class="container">
  <h1 class="heading">Create a New Menu</h1>
        <button onclick="addElement()">Add</button>
  <%= form_with(url: menus_path, method: "post", id: "menu-form") do |form| %>
    <p>Name: </p>
    <%= form.text_field "name", {placeholder: "Menu Name"} %>
    <div id="all-inputs">
      <div class="menu-inputs" id="1">
        <%= form.text_field "menu_item[1][name]", {placeholder: "Item name"} %>
        <%= form.text_field "menu_item[1][desc]", {placeholder: "Item Description"} %>
        <%= form.text_field "menu_item[1][price]", {placeholder: "Item Price"} %>
        <%= image_tag(asset_path("delete.png"), alt: "delete", id: "1", onclick: "removeElement(1)") %>
      </div>
    </div>
    <%= form.submit "Add", onclick: "" %>
  <% end %>
</div>
<script>
  let id = 2;
  function addElement() {
    const inputDiv = document.getElementById("all-inputs")
    let div = document.createElement("div");
    div.className = "menu-inputs";
    div.id = id;
    let name_input = document.createElement("input");
    name_input.name = `menu_item[${id}][name]`;
    name_input.id = `menu_item[${id}][name]`;
    name_input.placeholder = "Item Name";
    name_input.type = "text";

    let desc_input = document.createElement("input");
    desc_input.name = `menu_item[${id}][desc]`;
    desc_input.id = `menu_item[${id}][desc]`;
    desc_input.placeholder = "Item Description";
    desc_input.type = "text";

    let price_input = document.createElement("input");
    price_input.name = `menu_item[${id}][price]`;
    price_input.id = `menu_item[${id}][price]`;
    price_input.placeholder = "Item Price";
    price_input.type = "text";

    let submit = document.createElement("img");
    submit.src = "/assets/delete-cfca301a6398d44b6cf5aaa97d229bc6845fc792cb9ca51dcfc16398d348cbd7.png";
    submit.alt = "delete";
    submit.id = id;
    submit.addEventListener("click", (e) => {
      removeElement(e.target.id);
    })

    div.appendChild(name_input);
    div.appendChild(desc_input);
    div.appendChild(price_input);
    div.appendChild(submit);

    inputDiv.appendChild(div);

    id++;
  }


  function removeElement(id) {
    let ele = document.getElementById(id);
    let parentElement = document.getElementById("all-inputs");

    parentElement.removeChild(ele);
  }
</script>
