<!DOCTYPE html>
<html>
  <head>
    <title>EasyCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar">
      <h1 class="nav-logo">Easy Cafe</h1>
      <ul class="nav-menu">
        <li>About</li>
        <li>About</li>
        <li>About</li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
